/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;        
    --color-grey: #616161;
    --color-dark-grey: #7A776D;    
    --color-light-grey: #7c7979;
    --color-dark-green: #98C10E;
    --color-light-green: #F2F5EA;    
    --color-black: #272727;
  
    /* Font size */
    --font-large: 60px;
    --font-medium: 28px;
    --font-regular: 19px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-none: 100;
  
    /* size */
    --size-border-radius:4px;
  
    /* Annimation */
    --annimation-duration:300ms;
  
}

*,
*::before,
*::after {
-webkit-box-sizing: border-box;
box-sizing: border-box; }

/* Universal tags */
*{
    box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
    background-color: var(--color-light-green); 
    padding: 0;
    margin: 0;   
}

a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    padding-left: 0;
}


/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    font-family: "Barlow Condensed", sans-serif;
    color: var(--color-black);
    margin: 10px 0px;
    line-height: 1;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 20px 0;
}

.subheading{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-dark-green);
}

.section__description {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-dark-grey);
    margin: 25px 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Button style */
.btn-primary{
    width: 158px;
    height: 50px;
    margin: 30px;
}
.btn-line-primary,
.btn-outline-primary:hover{
    background-color: var(--color-dark-green);
    color: var(--color-white);
}
.btn-outline-primary{
    border: 3px solid var(--color-dark-green);
    color: var(--color-dark-green);    
}




/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 40px 50px;
    z-index: 999;
}

.navbar.navbar--dark {
    background-color: var(--color-dark-green);
}

.navbar__logo img{
    width: 125px;
}

.navbar__menu{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.navbar__menu__item{
    margin: 0 4px;
    padding: 8px 16px;
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
}
.navbar__menu__item.active, 
.navbar__menu__item:hover{
    color: var(--color-dark-green);
}




/* Header */
.header{
    height: 100vh;
}
.header__container{
    position: relative;   
    transition: all 0s ease 0s;
    background: var(--color-black);
}

.header__container, video.loaded{
    height: 100%;
}
video.loaded, .header__text{
    width: 100%; 
}

video.loaded{
    position: absolute;
    left: 0;    
    object-fit: cover;
    opacity: .8;
}

.header__text{
    position: absolute;
    top: 27%;
    color: #f1f1f1;
    padding: 20px;
}

.header__title{
    font-size: 7vw;
    color: var(--color-white);
    text-transform: uppercase;
}




/* Section common */
.section {    
    text-align: center;    
    margin: auto; 
}
.section__container{
    max-width: 1280px;
    margin: auto;
    padding: 165px 0 120px 0;
}


/* Training */
.training{
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

.training__items:nth-child(1),
.training__items:nth-child(3) {
     flex-grow: 2; 
}

.training__items.text-about{
    padding: 120px 40px 50px;
}

.text-about{
    width: 32%;
}
.text-about h2{
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-dark-green);    
}

/* Programmes */
.programmes__lesson{
    display: flex;
    justify-content: space-between;
    margin: 70px;
}
.lesson{
    width: 300px;
}

.lesson__description{
    font-size: var(--font-small);
}

.lesson__icon img{
    max-width: 50%;
}

/* Facilities */
.facilities{
    position: relative;   
    background-color: var(--color-black);
}
.facilities__slider{
    height: 900px;     
    display: flex;
    align-items: center;
    justify-content: center;
}
.items__text{
    z-index: 99;      
}
.f-title,
.description-white{
    color: var(--color-white);
}

